body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo{
    object-fit: contain;
}

.centering_box{
    display: flex;
    justify-content: center;
    align-items: center;
}