body{
    margin: 0;
    background-color: rgba(0, 0, 20, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pokedex{
    height: 90%;
    border: solid ;
    border-radius: 2vw;  
    background-color: #a52a2a;
    width: 90%;
    box-shadow: 0.5vw 0.5vw 0.5vh 0.5vh #5673a7, -0.5vw 0.5vw 0.5vh 0.5vh #5673a7,
                0.5vw 0.5vw 0.5vw 0.5vw #5673a7,-0.5vw 0.5vw 0.5vw 0.5vw #5673a7;            
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex_upper_border{
    height: 10%;
    width: 100%;
    background-color: brown;
    border-top-left-radius:  2vw;
    border-top-right-radius:  2vw;
}

.pokedex_screen{
    background-color: #ffffff;
    height: 75%;
    width: 98%;
    border-radius: 0.8vw;;
    margin-left: 24px;
    margin-right: 24px;
    border: solid 0.25vw;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px;
    box-shadow: inset 5px 5px 25px #5673a7;
    z-index: 5;
}

.pokedex_buttons{
    height: 9%;
    background-color: brown;
    border-bottom-left-radius: 1.25vw;
    border-bottom-right-radius: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

  /* width */
  ::-webkit-scrollbar {
    width: 1vw;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 10px 5px 25px grey; 
    border-radius: 1vw;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 1vw;
    width: 1vw;
    }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  .card{
    height: 280px;
    width: 180px;
    margin:0.5%;
    border: solid 0.15vw;
    z-index: 1;
  }

  .card img{
    height: 60%;
    aspect-ratio: 1/1;
    box-shadow: inset 5px 5px 25px #5673a7;
  }

  .load{
    height: 6vh;
    width: 10vw;

    font-size: 3vh;
    padding: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.2vw;
    border-radius: 1vh
  }

  .load p{
    text-align: center;
    font-size: 2vh;
    margin: 0;
  }

  .card-body{
    max-height: 100%;
    padding: 0;
  }

h2{
  margin: 0;
}

.grass{
  box-shadow: inset 5px 5px 50px #00ff40;
}

.types{
  display: flex;
  justify-content: space-around;
}