body{
    margin: 0;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pokedex{
    height: 90%;
    border: solid ;
    border-radius: 2vw;  
    background-color: #a52a2a;
    width: 90%;
    box-shadow: 0.5vw 0.5vw 0.5vh 0.5vh #5673a7, -0.5vw 0.5vw 0.5vh 0.5vh #5673a7,
                0.5vw 0.5vw 0.5vw 0.5vw #5673a7,-0.5vw 0.5vw 0.5vw 0.5vw #5673a7;            
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokedex_upper_border{
    height: 10%;
    width: 100%;
    background-color: brown;
    border-top-left-radius:  2vw;
    border-top-right-radius:  2vw;
}

.pokedex_screen{
    position: relative;
    background-color: #ffffff;
    height: 75%;
    width: 98%;
    border-radius: 0.8vw;;
    margin-left: 24px;
    margin-right: 24px;
    border: solid 0.25vw;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: inset 5px 5px 25px #5673a7;
}

.pokedex_buttons{
    height: 9%;
    background-color: brown;
    border-bottom-left-radius: 1.25vw;
    border-bottom-right-radius: 1.25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

  /* width */
  ::-webkit-scrollbar {
    width: 1vw;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 10px 5px 25px grey; 
    border-radius: 1vw;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 1vw;
    width: 1vw;
    }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  .card{
    height: 22rem;
    width: 16rem;
    margin: 1rem;
    border: solid 6px;
    border-radius: 12px;
    z-index: 1;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 125ms;
  }
  

  .card img{
    height: 60%;
    aspect-ratio: 1/1;
    box-shadow: inset 5px 5px 25px #5673a7;
  }

  .load{
    height: 6vh;
    width: fit-content;
    font-size: 3vh;
    padding: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.2vw;
    border-radius: 2rem;
    text-align: center;
    font-size: 2vh;
  }

  .card-body{
    max-height: 100%;
    padding: 0;
    background-color: #00005a;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center
  }

h2{
  margin: 0;
}

.types{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  align-items: center;
}

.test{
  padding: 0.25rem;
  border-radius: 8px;
  width: 80%;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-text{
  color: #ffffff;
}

span{
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_closed{
  width: 0rem !important; 
  border: solid 0px !important;
  transition: ease-in-out 125ms;
}



.bigCard{
  margin-top: 0.5%;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 65%;
  width: 100%;
  border-radius: 4%;
  border: solid 0.5vw;
  overflow: hidden;
  width: 50vw !important;
  z-index: 10;
  background-color: #ffffff;
}

.card_Big{
  height: 55%;
  position: relative;
  transition: ease-in-out 125ms;
  display: flex;
  justify-content:space-between;
  overflow: hidden;
  font-size: 2vw;
}

.big_headline{
  margin-left: 0.7rem;
  font-size: 3vh;
  font-weight: bolder;
}

.sideInfos{
  width: 50%;
  min-width: 10%;
  overflow-wrap: anywhere;
}

.typeBigCard{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bigImg{
  max-height: 100%;
  max-width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2%;
}

.d_none{
  display: none;
}

.ID{
  position: absolute;
  top: 0;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 3vh;
  font-weight: bolder;
}

.test2{
  height: 100%;
  width: 100%;
  border-radius: 4% 4% 0 0;
  background-color: #00005a;  
}


.loading{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #040404;
  z-index: 10;
  background-image: url(./img/load.gif);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;  
}
.loading_process_stop{
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image: url(./img/loading_static.jpg);
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  background-clip: unset;  
}

.loading_process{
    width: 100%;
    height: 100%;
    z-index: 10;
    background-image: url(./img/loading.gif);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    transition: ease-in-out 125ms;
}

.loading_stop{
  width: 0 !important;
  height: 0 !important;
  transition: ease-in-out 125ms;
}



@media (max-width: 540px){
  .card_Big{
    display: block;
    height: fit-content;
    overflow: unset;
  }
  
  .sideInfos{
    background-color: #00005a;
    width: 100%;
    border-radius: 2vw 2vw 0 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .big_headline{
    margin-left: 0;
  }

  .typeBigCard{
    width: 75%;
    display: flex;
    justify-content: center;
  }

  .test2{
    border-radius: 0;
  }
}




