body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 5px;
}

h1{
    margin: 0px;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
}

hr{
    color: rgba(0, 0, 0, 0.2);
    border: 1.5px solid ;
}

.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 5px;
    gap: 5px
}

.content_Box{
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.lands{
    display: flex;
    flex-direction: column;
    width: 29%;
    border: solid 10px rgba(0, 0, 0, 0.2);
    padding: 5px;
    gap: 5px;
    word-wrap: break-word;
    height: 100px;
}

h2 {
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.category{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin: 5px;
}

.category p{
    width: 30px;
    height: 30px;
    background-color: #00000042;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    .content{
        justify-content: center;
    }

    .lands{
        width: 40%;
    }
}

@media (max-width: 500px) {
    .lands{
        width: 100%;
    }
}