body{
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
}

h1{
    margin: 0;
}

h2{
    margin:0;
    padding: 0;
    font-size: 20px;
    cursor: default;
}

.profile{
    border-radius: 20px;
}

.header{
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid;
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.4);
    background-color: rgb(255, 255, 255);
}

.search_field input{
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
    border-radius: 3px;
}

.post{
    border-left: 10px double #1C6EA4;
    border-bottom: 10px double #1C6EA4;
    border-radius: 10px 0px 0px 10px;
    padding: 8px;
    margin-top: 14px;
    margin-bottom: 14px;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
}

.postimg{
width: 50%;
border-radius: 4px;
}

.post_buttons img{
    width: fit-content;
}


.author{
    display: flex;
    align-items: center;
}

.post_buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.menu_container{
    display: flex;
    gap: 8px;
}

.description{
    margin-top: 8px;
}

.location{
    margin-top: 8px;
}

.liked{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu_container img{
    height: 40px;
    width: 40px;
    gap: 8px;
}

.post_container{
    width: 50%;
    padding-left: 10%;
    overflow-wrap: anywhere;
}

.post_img_container{
    display: flex;
    justify-content: center;
    border-bottom: solid 2px;
    padding-bottom: 4px;
}

.content_container{
    display: flex;
    padding-top: 80px ;
    justify-content: flex-start;
    width: 100%;
}

.contacts{
    position:fixed;
    right: 0px;
    height:100% ;
    width: 40%;
    background-color: #0e27382f;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap: 8px;
}

.likes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

footer{
    position: sticky;
    height: 100px;
    background-color: #1c6ea4;
    border-top: 2px solid rgba(0,0,0,0.3);
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.4);
}

.user_menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    min-width: 200px;
    width: 70%;
    padding: 10px;
    margin: 8px;   
    border: double 6px #1C6EA4;
    border-radius: 40px ;
    background-color: rgb(52, 141, 155);
    box-shadow: 6px 4px 0px 4px rgba(0,0,0,0.4);
    cursor: pointer;
    margin-right: 10%;
}

.user_menu img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
}

.user_menu:hover{
    background-color: rgb(87, 154, 255);
    box-shadow: 6px 4px 0px 4px rgba(91, 156, 254, 0.4);
    transition: 125ms ease-in-out;
}

.user_div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-weight:bolder;
}

@media (max-width: 720px){
    .d_none{
        display: none;
    }

    .user_menu{
        min-width: 60px;
        width: 60px;
    }
}

@media (max-width: 520px){
    .header{
        flex-direction: column;
        gap: 12px;
        height: 100px;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 24px;
    }
    .content_container{
        padding-top: 140px ;
    }
    .post_container{
        padding: 5%;
        width: 55%;
    }

}

